
/* .login 스타일 */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #f5f5f5;
  justify-content: center;
}

/* 제목 스타일 */
.login h1 {
  font-family: '양진체';
  font-size: 36px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff6b73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* 부제목 스타일 */
.login h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #383838;
}

/* 폼 스타일 */
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 입력 필드 스타일 */
.login form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Pretendard';
  box-sizing: border-box;
}

/* 버튼 스타일 */
.login form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: #00b7ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.login form button:hover {
  background-color: #0065b3;
}

/* 로그인하기 텍스트 스타일 */
.login-link {
  cursor: pointer;
  color: #00b7ff;
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Pretendard', sans-serif;
}

.login-link:hover {
  color: #0056b3;
  text-decoration: none;
}

/* 에러 메시지 스타일 */
.error-message {
  position: relative;
  bottom: 20px;
  color: #ff6b73;
  font-size: 12px;
  margin-top: 10px;
}
.ocean {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

}

.wave {
  background: url('../Assets/Images/wave.svg') repeat-x;
  position: absolute;
  top: -198px;
  width: 10000px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@media (max-width: 768px) {
  .wave {
    display: none;
    /* 파도를 숨김 */
  }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .login h1 {
    font-size: 28px; /* 화면이 작을 때 제목 크기 줄이기 */
  }

  .login h2 {
    font-size: 14px; /* 부제목 크기 줄이기 */
  }

  .login form {
    width: 90%; /* 폼 너비 조정 */
    padding: 15px; /* 여백 줄이기 */
  }

  .login form input {
    padding: 8px; /* 입력 필드의 패딩 줄이기 */
  }

  .login form button {
    padding: 12px; /* 버튼의 패딩 조정 */
  }

  .login-link {
    font-size: 12px; /* 로그인 링크 크기 줄이기 */
  }
}

@media (max-width: 480px) {
  .login h1 {
    font-size: 24px; /* 더 작은 화면에서 제목 크기 줄이기 */
  }

  .login form input {
    padding: 8px; /* 입력 필드의 패딩 추가로 줄이기 */
  }

  .login form button {
    font-size: 14px; /* 버튼의 글씨 크기 줄이기 */
  }

  .login-link {
    font-size: 10px; /* 로그인 링크 크기 더 줄이기 */
  }
}
