.admin_menu_bar {
    float: left;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f5f5f5;
}

.admin_menu_bar .menu {
    font-size: 20px;
    cursor: pointer;

}

.admin_menu_bar .menu:hover {
    text-decoration: underline;
    font-weight: bold;
}

.admin_menu_bar .menu a {
    text-decoration: none;
    color: black;
}


.time {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}

.time .title {
 font-size: 40px;
 text-align: center;
    
}

.time .content {
    font-size: 20px;
    text-align: center;
}

